@media only screen and (max-width:1080px) {
    .sidetoc {
        display: none !important;
    }
}

@media only screen and (min-width:1080px) {
    main {
        position: relative;
        padding-right: 170px;
    }

    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        /* left: calc(100% + (var(--content-max-width))/4 - 180px); */
        left: calc(100% - 260px);
        position: absolute;
    }

    .pagetoc {
        position: fixed;
        width: 250px;
        height: calc(100vh - var(--menu-bar-height) - 10rem);
        overflow: auto;
        z-index: 1000;
    }

    .pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: #798186;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: justify;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .pagetoc a:hover,
    .pagetoc a.active {
        background: #fffb008f;
        color: var(--sidebar-fg) !important;
    }

    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}

.page-footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
    color: gray;
}

/* 修改章节目录的间距 */
.chapter li.chapter-item {
    /* 没有文件时的文字颜色 */
    color: #939da3;
    margin-top: 1rem;
}


.chapter-item:hover {
    font-weight: bold;
    color: #fcf805;
    filter: brightness(1.1);
    /* background-color: #cc00df2a; */
    background-image: linear-gradient(to right, #c000e65d, #ffffff);
    /* -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1); */
}


/* .chapter-item.expanded:hover {
    color: #faf5fc;
    background-color: #a407ff;
} */

.sidebar {
    background-image: linear-gradient(to right, #f9fc6e17, #ffffff);
}


li.chapter-item.expanded .active {
    color: #8000b3;
    font-weight: bold !important;
    /* background-image: linear-gradient(to right, #5d009ba6, #ffffff); */
}


/* 修改滚动条宽度 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fbff10;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #a407ff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fbff00;

}

/* 表格靠左对齐 */
table {
    margin-left: 0 !important;
}

/* 只使用底部的页面跳转，因为左右两边的宽跳转会被 page-toc 遮盖 */
@media only screen and (max-width: 2560px) {
    .nav-wide-wrapper {
        display: none;
    }

    .nav-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 2560px) {
    .sidebar-visible .nav-wide-wrapper {
        display: none;
    }

    .sidebar-visible .nav-wrapper {
        display: block;
    }

}


/* 修改顶部图标大小 */
/* #menu-bar {
    font-size: 17px;
} */
/* 修改 github 样式 */
.fa-github {
    font-weight: 550;
}

.fa-github:after {
    content: "繁星点点尽在你的指尖 🌟";
    margin-left: 4px;
}

/* Fix on mobile device */
code {
    word-break: break-word;
}

/* 修复可编辑代码框顶部过窄的问题
code.editable,
.ace_scroller {
    top: 10px;
} */

/* 修改书侧边目录的区域分隔行样式 */

.chapter .spacer {
    background-color: #99CCFF;
    height: 2px;
    margin-top: 8px;
}

.chapter li .md-viewed {
    color: #777;
}

.light {
    --scrollbar: #55cfffd8;

    --icons: #747474;
    --icons-hover: #ff00d4;
    --inline-code-color: #9200e7;
}

code {
    font-size: 14px !important;
    font-weight: bold !important;
}